<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885524224843-pk1277slnn8hg23edk64rc2hi1kr9t8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885524224843-pk1277slnn8hg23edk64rc2hi1kr9t8b</string>
	<key>API_KEY</key>
	<string>AIzaSyBHRks1H4sD_xwobgTBeYTk4vYtWadgwnM</string>
	<key>GCM_SENDER_ID</key>
	<string>885524224843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUilogin</string>
	<key>PROJECT_ID</key>
	<string>flutter-apps-test</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-apps-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885524224843:ios:e224495fab16d767c7e6ce</string>
</dict>
</plist>